body {
    background-image: url("Test.png");
    background-size: 1400px;

}

.h11 {
    font-size: 30px;
    font-weight: bolder;
    text-transform: uppercase;
    text-decoration: underline;
    color: yellow;
    text-align: center;
}

.para1 {
    color: purple;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.0em;
    background-color: red;
    padding: 60px;
    border-color: #296a64;
    border-width: thick;
    border-style: ridge;
    margin: 20px;
    margin-top: 20px;
    margin-left: 300px;
    margin-right: 300px;
}

button {
    background-color: rgb(0, 47, 255);
    border: transparent;
    padding: 5px 10px;
    color: white;
    border-radius: 8px;
    transition: 0.3s ease-in;

}

button:hover {
    background-color: #ccc;
    border: 2px solid rgb(0, 47, 255);
    color: black;
    transition: 0.3s ease-in;
    cursor: pointer;
    border-left: 30px;
}

button {
    background-color: #1505ff;
    width: 100%;
    color: rgb(248,248,248);
    padding: 15px;
    margin: 10px 0px;
    border: none;
    cursor: pointer;
}